<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md darkklbg-gray-800">

  <div>
    <%= form.label :image, class: "text-gray-700 darkkltext-gray-200" %>
    <br>
    <%= form.file_field :image %>

    <% if  product.image.attached?%>
    <div class="w-40 ">
    <%= image_tag @product.image, class: "mx-auto " %>
    </div>
    <%end%>
  </div>



  <div>
    <%= form.label :secondary_image,"Secondary Image ", class: "text-gray-700 darkkltext-gray-200" %>
    <br>
    <%= form.file_field :secondary_image %>

    <% if  product.secondary_image.attached?%>
    <div class="w-40 ">
    <%= image_tag @product.secondary_image, class: "mx-auto w-40" %>
    </div>
    <%= link_to "Remove Second image", delete_second_path(product.id), class: "m-2 px-2 text-center font-medium text-white transition-colors duration-200 transform bg-red-600 rounded-md hover:bg-red-500" %>

    <%end%>
  </div>

  

  <br>
  

  <div>
    <%= form.label :visible,"Make product Visible?", class: "text-gray-700 darkkltext-gray-200" %>
    <%= form.check_box :visible %>
  </div>

<br>
  <div>
    <%= form.label :name,"Name", class: "text-gray-700 darkkltext-gray-200" %>
    <%= form.text_field :name, required: true, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md darkklbg-gray-800 darkkltext-gray-300 darkklborder-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 darkklfocus:border-blue-300 focus:outline-none focus:ring" %>
  </div>

  <div>
    <%= form.label :secondary_heading,"Secondary Heading", class: "text-gray-700 darkkltext-gray-200" %>
    <%= form.text_field :secondary_heading, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md darkklbg-gray-800 darkkltext-gray-300 darkklborder-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 darkklfocus:border-blue-300 focus:outline-none focus:ring" %>
  </div>

  <% if @cat_arr %>
  <div >
    <%= form.label :catagory, style: "display: block" %>
    <%= form.select :catagory, @cat_arr, 
  {}, { class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md darkklbg-gray-800 darkkltext-gray-300 darkklborder-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 darkklfocus:border-blue-300 focus:outline-none focus:ring" }  %>
  </div>
  <%end%>


  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, required: true, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md darkklbg-gray-800 darkkltext-gray-300 darkklborder-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 darkklfocus:border-blue-300 focus:outline-none focus:ring" %>
  </div>

  <div class="my-5 bg-stone-300 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
      <%= form.label :color_option_1 , "Colors" %>
      <%= form.hidden_field :color_option_1, class: "" , id: "hid_color_op_1" %>
      <ul id="color_options" class="flex flex-wrap space-x-2">
      </ul>
      <input id="color_1" type="color" onchange="updateHexText()"  value="#ffffff" />
      <input id="hex_1" type="text" onchange="updateColorPallets()" value="#ffffff" /> <br>
      <input id="color_2" type="color" onchange="updateHexText()" value="#ffffff" />
      <input id="hex_2" type="text" onchange="updateColorPallets()" value="#ffffff" />
      <button type="button" onclick="addcoloroption()">Add</button>
      
  </div>


  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price, required: true, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md darkklbg-gray-800 darkkltext-gray-300 darkklborder-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 darkklfocus:border-blue-300 focus:outline-none focus:ring" %>
  </div>

  <div>
    <%= form.label :old_price,"Old Price (if none put: 0 )", style: "display: block" %>
    <%= form.number_field :old_price, required: true, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md darkklbg-gray-800 darkkltext-gray-300 darkklborder-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 darkklfocus:border-blue-300 focus:outline-none focus:ring" %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity, required: true, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md darkklbg-gray-800 darkkltext-gray-300 darkklborder-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 darkklfocus:border-blue-300 focus:outline-none focus:ring"  %>
  </div>
  <br>


  <div>
    <%= form.label :dimensions_show,"Show dimentions on product?", class: "text-gray-700 darkkltext-gray-200" %>
    <%= form.check_box :dimensions_show %>
  </div>

  

  <div>
    <%= form.label :length,"Length(inches)", style: "display: block" %>
    <%= form.number_field :length, required: true, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md darkklbg-gray-800 darkkltext-gray-300 darkklborder-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 darkklfocus:border-blue-300 focus:outline-none focus:ring" %>
  </div>

  <div>
    <%= form.label :width,"Width(inches)", style: "display: block" %>
    <%= form.number_field :width, required: true, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md darkklbg-gray-800 darkkltext-gray-300 darkklborder-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 darkklfocus:border-blue-300 focus:outline-none focus:ring" %>
  </div>
  
  <div>
    <%= form.label :height,"Height(inches)", style: "display: block" %>
    <%= form.number_field :height, required: true, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md darkklbg-gray-800 darkkltext-gray-300 darkklborder-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 darkklfocus:border-blue-300 focus:outline-none focus:ring" %>
  </div>

  <div>
    <%= form.label :weight,"Weight(in Ounces)", style: "display: block" %>
    <%= form.number_field :weight, required: true, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md darkklbg-gray-800 darkkltext-gray-300 darkklborder-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 darkklfocus:border-blue-300 focus:outline-none focus:ring" %>
  </div>
  
<br>
  <div>
    <%= form.label :on_sale, style: "display: block" %>
    <%= form.check_box :on_sale %>
  </div>

  <div>
    <%= form.label :sold_out,"SOLD OUT -- if checked manually this product will not be purchaseable (will automatically check if inventory reaches 0)", style: "display: block" %>
    <%= form.check_box :sold_out %>
  </div>

  <div>
    <%= form.label :featured, style: "display: block" %>
    <%= form.check_box :featured %>
  </div>

  <div>
    <%= form.label :photos_attached, "Product needs photos? ex: user uploads photos that go on t-shirt ", style: "display: block" %>
    <%= form.check_box :photos_attached %>
  </div>

  

  <div class="m-2 px-2 py-2 text-center font-medium text-white transition-colors duration-200 transform bg-green-600 rounded-md hover:bg-green-500">
    <%= form.submit %>
  </div>

  

  </section>
<% end %>





<script>



$( document ).ready(function() {

    let Color_Start_arr = TextToArr($("#hid_color_op_1").val());
    DisplayColorList(Color_Start_arr);
});

function updateHexText(){

$("#hex_1").val($("#color_1").val());
$("#hex_2").val($("#color_2").val());
}

function updateColorPallets(){
$("#color_1").val($("#hex_1").val());
$("#color_2").val($("#hex_2").val());
updateHexText();
}

function addcoloroption(){
  
  let col_op_1 = $("#color_1").val();
  let col_op_2 = $("#color_2").val();
  let current_ops = $("#hid_color_op_1").val();
  let new_ops = ""
  
  if(col_op_1 && col_op_2){
     // append actual form value with 2 hex values
      let ops_to_add = ',' + col_op_1 + ',' + col_op_2
      new_ops = current_ops + ops_to_add
      $("#hid_color_op_1").val(new_ops);
      //convert form value to array
      let new_arr = TextToArr($("#hid_color_op_1").val());
      //display values
      DisplayColorList(new_arr);
  }else{

    alert("You must submit 2 hex color values");
  }
  
};

// this takes a comma seperated string of hex values and returns a nested arr
function TextToArr(test_list){

  let test_arr = test_list.split(",");
  let final_arr = [];
  let placeholder = [];
  if(test_arr[0] == ""){
    test_arr.shift();
  }

  $.each(test_arr , function(index, val) { 
      placeholder.push(val)
      if(placeholder.length == 2){
        final_arr.push(placeholder);
        placeholder = [];
      }
    });
  return final_arr
};


function removeColorOption(op_index){

    options_arr = TextToArr($("#hid_color_op_1").val());
    options_arr.splice(op_index, 1);
    updateColors(options_arr);
};

function updateColors(arr_to_save){
    unpacked_arr = [];
    $.each(arr_to_save , function(index, val) { 
        unpacked_arr.push(val[0]);
        unpacked_arr.push(val[1]);
      });

      col_op_text = unpacked_arr.toString();
      $("#hid_color_op_1").val(col_op_text);

      recover_arr_check = TextToArr($("#hid_color_op_1").val());
      DisplayColorList(recover_arr_check);

};

function DisplayColorList(col_array){

  $("#color_options").empty();
      $.each(col_array , function(index, val) { 
      $("#color_options").append('<li class="bg-gray-300 rounded-md p-2 my-1"><span class="dot border-white border-4" style=" height: 50px; width: 50px; background-color: #008BFF; background-image: linear-gradient(to right,' + val[0] + ',' + val[1] + '); border-radius: 50%;"></span><button class="" type="button" onclick="removeColorOption(' + index + ')" ><i class="text-slate-50 mx-2 bi bi-x-square"></i></button></li>');
      });
 
console.log(col_array);
}


</script>