<div class="flex flex-col  py-5 lg:flex-row">
<div class=" flex basis-2/3 items-center  p-4  rounded-lg ">

 
  <%= render "product_photos" %>
 </div>
 <div class="flex basis-1/3  items-center bg-gray-300 mx-5 p-4  ">
        <div class="w-11/12 h-screen overflow-y-auto ">
            <h1 class="text-5xl font-bold"><%=@product.name%></h1>
          
            <div class="flex flex-row text-3xl font-light px-3 py-5">$<%=@product.price%>
            <% if @product.old_price > 0 %><p class="line-through px-2 text-gray-400"> $<%= @product.old_price %></p><%end%>
            </div>
            <div class="">
		       <a href="#" class="uppercase text-xs"><%= @product.secondary_heading %></a>         
	       </div>
            
               <% if @product.quantity < 10 && !@product.sold_out? %>
                     <div class="mx-auto">
                     <p  class="text-rose-600 uppercase text-xs">
                            only <%= @product.quantity %> left in stock
                     </p>
                     </div>
              <%end%>
            <div class="flex h-0.5 max-w-lg bg-slate-500 "></div>
            <p class="text-lg py-5 pr-10 show-read-more "><%=@product.description%></p>
              <param id="hidden_Color_string" name="" value="<%= @product.color_option_1 %>">
              <param id="selected_color_" name="" value="<%= @selectedColor %>">
              
              <ul id="color_options" class="flex flex-wrap space-x-2">
                <% @color_arr.each_with_index do |n , i|  %>

                    <% if @selectedColor[0].to_i == i && @color_arr.length > 1 %>
                    
                        <li id="<%= i %>" class=" border-dashed border-2 border-gray-800 bg-gray-300 rounded-md p-2 my-1">
                        <%= button_to [@edit_path, params: { choice: i, index:  @edit_index ,  } ]  do %>
                        <center><span class="dot border-white border-4" style=" height: 50px; width: 50px; background-color: #008BFF; background-image: linear-gradient(to right, <%= n[0] %> ,<%= n[1] %>); border-radius: 50%;"></span></center>
                        <p><%= n[2] %></p>
                        <%end%>
                        </li>

                    <% else %>

                        <li id="<%= i %>" class="bg-gray-300 rounded-md p-2 my-1">
                        <%= button_to [@edit_path, params: { choice: i, index: @edit_index , } ]  do %>
                        <center><span class="dot border-white border-4" style=" height: 50px; width: 50px; background-color: #008BFF; background-image: linear-gradient(to right, <%= n[0] %> ,<%= n[1] %>); border-radius: 50%;"></span></center>
                        <p><%= n[2] %></p>
                        <%end%>
                        </li>

                    <%end%>
                      
                <%end%>
              </ul>
         
            <% if @product.dimensions_show %>
            <div class="flex flex-row text-xs my-5">
                    <i class="basis-1/5 bi bi-rulers text-gray-500 text-xl pt-5" ></i>
                    <div class="basis-2/5">
                    <h3 class="my-3 uppercase">Length: <%=@product.length%> inches</h3>
                    <h3 class="my-3 uppercase">Width: <%=@product.width%> inches</h3>
                    </div>
                    <div class="basis-2/5">
                    <h3 class="my-3 uppercase">Height: <%=@product.height%> inches</h3>
                    <h3 class="my-3 uppercase">Weight: <%=@product.weight%>oz</h3>
                    </div>
            </div>
            <% end %>


            <div>
            
             <%= button_to @button_text, @path, method: @get_post, class:
              @class,
               :disabled => @disabled , params: {selectedColor: @selectedColor} %>
               
               </div>

              <div class="my-10">
               <%= link_to "continue Shopping",  root_path , class: " px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-gray-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80" %>
              </div>
               
        </div>
 </div>
</div>

<script>

$( document ).ready(function() {

 


    let Color_Start_arr = TextToArr($("#hidden_Color_string").val());
   // DisplayColorList(Color_Start_arr);

    var maxLength = 280;
    $(".show-read-more").each(function(){
        var myStr = $(this).text();
        if($.trim(myStr).length > maxLength){
            var newStr = myStr.substring(0, maxLength);
            var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
            $(this).empty().html(newStr);
            $(this).append('<br> <a href="javascript:void(0);" class="underline read-more">read more...</a>');
            $(this).append('<span class="more-text">' + removedStr + '</span>');
        }
    });
    $(".read-more").click(function(){
        $(this).siblings(".more-text").contents().unwrap();
        $(this).remove();
    });

});


let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}


function TextToArr(test_list){

  let test_arr = test_list.split(",");
  let final_arr = [];
  let placeholder = [];
  if(test_arr[0] == ""){
    test_arr.shift();
  }

  $.each(test_arr , function(index, val) { 
      placeholder.push(val)
      if(placeholder.length == 2){
        final_arr.push(placeholder);
        placeholder = [];
      }
    });
  return final_arr
};

function DisplayColorList(col_array){

  $("#color_options").empty();
     currentColor = document.getElementById('selected_color_');
     console.log(currentColor.value)
      $.each(col_array , function(index, val) { 
        
      $("#color_options").append('<li id="' + index + '" class="bg-gray-300 rounded-md p-2 my-1"><span class="dot border-white border-4" style=" height: 50px; width: 50px; background-color: #008BFF; background-image: linear-gradient(to right,' + val[0] + ',' + val[1] + '); border-radius: 50%;"></li>');
        //  button_to "Choice",  new_color_choice_path, params: { choice: index } 
      
      });
 
console.log(col_array);
}

</script>