<%= form_with(model: management, class: "contents") do |form| %>
  <% if management.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(management.errors.count, "error") %> prohibited this management from being saved:</h2>

      <ul>
        <% management.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.label :logo, class: "text-gray-700 darkkltext-gray-200" %>
    <br>
    <%= form.file_field :logo %>
    <p>*if your logo looks blury when displayed it is likely because the file chosen is to large and is being scaled down.  
    <br>
    Try to reduce your logos size.  It will be scaled down to an 80 pixel height. Images with around 200 pixel height seem to work fine. </p>
  </div>

  <div class="my-5">
    <%= form.label :brand_name %>
    <%= form.text_field :brand_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :title_tag %>
    <%= form.text_field :title_tag, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
      <%= form.label :tax_rate , "Tax Rate" %>
      <%= form.number_field :tax_rate, :step => "0.01", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

  <div class="my-5">
    <%= form.label :contact_page %>
    <%= form.check_box :contact_page, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :about_page %>
    <%= form.check_box :about_page, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :about_text %>
    <!-- <p>Type &lt;br&gt;  between blocks of text to create space between paragraphs </p>-->
    <%= form.text_area :about_text, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div>
    <%= form.label :about_pic, class: "text-gray-700 darkkltext-gray-200" %>
    <br>
    <%= form.file_field :about_pic %>
  </div>

  <div class="my-5">
    <%= form.label :shop_text %>
    <%= form.text_area :shop_text, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 bg-cyan-200 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
      <%= form.label :categories , "Categories" %>
      <%= form.hidden_field :categories, class: "" , id: "categories" %>
      <ul id="current_cats" class="flex flex-wrap space-x-2">
      </ul>
      <input id="new_category" type="text" placeholder="New Category" />
      <button type="button" onclick="addnewcategory()">Add</button>
      
    </div>

  <div class="my-5">
    <%= form.label :phone_card %>
    <%= form.check_box :phone_card, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :phone_card_text %>
    <%= form.text_area :phone_card_text, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  

  <div class="my-5">
    <%= form.label :email_card %>
    <%= form.check_box :email_card, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :email_card_text %>
    <%= form.text_area :email_card_text, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :buisness_card %>
    <%= form.check_box :buisness_card, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :buisness_address %>
    <%= form.text_area :buisness_address, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :address_card_text %>
    <%= form.text_area :address_card_text, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :footer_text %>
    <%= form.text_area :footer_text, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :home_page_text %>
    <%= form.text_area :home_page_text, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :testimonials %>
    <%= form.check_box :testimonials, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :testimonial_1_name %>
    <%= form.text_field :testimonial_1_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :testimonial_1_text %>
    <%= form.text_area :testimonial_1_text, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :testimonial_2_name %>
    <%= form.text_field :testimonial_2_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :testimonial_2_text %>
    <%= form.text_area :testimonial_2_text, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :testimonial_3_name %>
    <%= form.text_field :testimonial_3_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :testimonial_3_text %>
    <%= form.text_area :testimonial_3_text, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :twitter %>
    <%= form.text_field :twitter, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :facebook %>
    <%= form.text_field :facebook, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :instagram %>
    <%= form.text_field :instagram, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>


  <div class="my-10 rounded-lg bg-yellow-200 border border-gray-500 ">
  <p class="text-lg">Shipping Information</p>
  <p class="text-md">Add the location you will be sending packages from</p>

    

     <div class="my-5">
      <%= form.label :ship_company, "Your Company Name" %>
      <%= form.text_field :ship_company, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :ship_street , "Shipping Street" %>
      <%= form.text_field :ship_street, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :ship_city , "Shipping City" %>
      <%= form.text_field :ship_city, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :ship_state , "Shipping State ( two letter format ex: FL )" %>
      <%= form.text_field :ship_state, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :ship_zip , "Shipping Zip" %>
      <%= form.text_field :ship_zip, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    

  
  </div>

  <div class="inline">
    <%= form.submit "Update Website",  class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<script>

$( document ).ready(function() {
    loadCatList();
});

function addnewcategory(){
  let new_cat = $("#new_category").val();
  var cat_text = $("#categories").val();
  let cat_array = cat_text.split(",");
  let multispace = false
  // Entry validation below

    for (let i = 0; i < new_cat.length; i++) {
      if(new_cat[i] == " " && new_cat[i + 1] == " ") {
          multispace = true
      }
    }

  if(new_cat == "" || cat_array.includes(new_cat) || new_cat.includes(",") || multispace == true){

    if(new_cat == ""){
      alert("New category can't be blank");
    }else if(new_cat.includes(",")){
      alert("Your Category cant contain commas" );
    }else if(multispace == true){
      alert("Your New Category must have SINGLE spaces between words" );
    }else{
      alert("Your Categories list allready includes " + new_cat );
    }

  }else{

  // add the new category to the array and convert the array back to comma seperated text
  new_cat = new_cat.replace(/ /g,"_") 
  cat_array.push(new_cat);
  cat_text = "";
  cat_text = cat_array.toString();
  $("#categories").val(cat_text);
  }
  loadCatList();
};

function loadCatList(){
  
    
  
  var cat_text = $("#categories").val();
  let cat_array = cat_text.split(",");
  if(cat_array[0] == ""){
    cat_array.shift();
  }

  $("#current_cats").empty();
    $.each(cat_array , function(index, val) { 
    $("#current_cats").append('<li class="bg-gray-300 rounded-md p-2 my-1">' + val + ' ' +  '<button class="" type="button" onclick="removeCategory(' + index + ')" ><i class="text-slate-50 mx-2 bi bi-x-square"></i></button></li>');
    });
 

};

function removeCategory(cat_to_del){

  var cat_text = $("#categories").val();
  let cat_array = cat_text.split(",");
  if(cat_array[0] == ""){
    cat_array.shift();
  }
  
  cat_array.splice(cat_to_del, 1);

  cat_text = "";
  cat_text = cat_array.toString();
  $("#categories").val(cat_text);
  loadCatList();
};

</script>
