<div id="<%= dom_id management %>">

<!--
  <p class="my-5">
    <strong class="block font-medium mb-1">Contact page:</strong>
    <%= management.contact_page %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">About page:</strong>
    <%= management.about_page %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">About text:</strong>
    <%= management.about_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shop text:</strong>
    <%= management.shop_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone card:</strong>
    <%= management.phone_card %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone card text:</strong>
    <%= management.phone_card_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= management.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Brand name:</strong>
    <%= management.brand_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email card:</strong>
    <%= management.email_card %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email card text:</strong>
    <%= management.email_card_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= management.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Buisness card:</strong>
    <%= management.buisness_card %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Buisness address:</strong>
    <%= management.buisness_address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address card text:</strong>
    <%= management.address_card_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Footer text:</strong>
    <%= management.footer_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Home page text:</strong>
    <%= management.home_page_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Testimonials:</strong>
    <%= management.testimonials %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Testimonial 1 name:</strong>
    <%= management.testimonial_1_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Testimonial 1 text:</strong>
    <%= management.testimonial_1_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Testimonial 2 name:</strong>
    <%= management.testimonial_2_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Testimonial 2 text:</strong>
    <%= management.testimonial_2_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Testimonial 3 name:</strong>
    <%= management.testimonial_3_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Testimonial 3 text:</strong>
    <%= management.testimonial_3_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Twitter:</strong>
    <%= management.twitter %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Facebook:</strong>
    <%= management.facebook %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Instagram:</strong>
    <%= management.instagram %>
  </p>

  -->

  <% if action_name != "show" %>
    <!-- < link_to "Show this management", management, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %> -->
    <%= link_to 'Edit Website', edit_management_path(management), class: "rounded-lg py-3 ml-2 px-5 bg-gray-300 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
